
@media screen and (min-width: 768px) {
  /* Styles for tablets and larger screens */
}

@media screen and (min-width: 992px) {
  /* Styles for desktops and larger screens */
}

body {
    font-family: 'Arial', sans-serif;
    background-image: url("../img/back2.jpg");
    display:grid;
    align-items: center;
    justify-content:center;
    height: 100vh;
    
    margin: 20px;
}

 section {
    padding: 4rem 9%;
    padding:5% ;
    justify-content:center;
   
  }
  
 img {
  max-width: 100%;
  height: auto;
}
.calculator {
    background-image: linear-gradient(
        -225deg,
        #231557 0%,
        #44107a 29%,
        #ff1361 67%,
        #fff800 100%
      );
    border-radius: 20px;
    box-shadow: 0 4px 80px #bfc1c2;
    padding: 20px;
    text-align: center;
    justify-content:center;
    overflow: hidden;
}

input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 18px;
    color: #000060;
}

button {
    width: 80px;
    height: 48px;
    font-size: 18px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid #0b0b0b;
    border-radius: 4px;
   
}

h1 {
   
    color: aliceblue;
    font-size: x-large;
    font-weight: bolder;
    font-style: italic;

}
button:active {
    background-color:red;
}

.row {
    display: flex;
    justify-content:center;
}

.btn{
    background-color:#a9a9a9;
    font-size: 1rem;
    font-weight: bold;
    font-size: larger;
    padding: 1rem 1rem;
    border-radius: 4rem;
    color: #040404;
    text-transform: uppercase;
    margin-right: 1rem;
    display: inline-block;
    margin-top: 1rem;
    text-align: center;
  }